Debug
Release
ipch
*.opensdf
*.sdf
*.user
*.suo
[Bb]uild*
nbproject
.idea
cmake-build-debug
CMakeCache.txt
CMakeFiles/
DartConfiguration.tcl
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake
boolinq-bench
boolinq-test
/externals/benchmark/*
/externals/googletest/*
cppcheck.report
coverage/
coverage.info
